<ion-content padding id="page13" class="app-logged-background">
  <ion-list id="viewCourses-list12">
    <div *ngFor="let item of units">

    <ion-item color="none" id="viewCourses-list-item20" on-click="gotoCourse(item)">
      <ion-label text-wrap>{{item?.unit_name | uppercase}} </ion-label>
      <ion-icon name="arrow-round-forward" item-right></ion-icon>
    </ion-item>
    </div>
  </ion-list>
</ion-content>

<div class="spinnerOverlay" *ngIf="spinner">
  <ion-spinner name="crescent"></ion-spinner>
  </div>
